/data/
/*.asv
/segFiles/
/segFilesResized/
/segFilesResizedAll/
/feats4096layer/
/autoencodingPrediction.mat
/dataLayer4096/
/allXDataAndAllPCAInfo.mat
/sample4096feats.mat
/xData6400autoencoded.mat
