/data/
/*.asv
/segFiles/
/segFilesResized/
/segFilesResizedAll/
/feats4096layer/
/autoencodingPrediction.mat
/dataLayer4096/
/allXDataAndAllPCAInfo.mat
/sample4096feats.mat
/xData6400autoencoded.mat
/SPIE/
/LIDC/
/rawHUdata/
/rawHUdataSend/
/DOI_dcmInfo/
/DOI_modMatlab/
/DOI_modXML/
/DOI_resizedHUmat/
/DOI_modSliceLoc/
/DOI_modNodule/
/tempTest/
/DOI_modNodule_old/
/DOI_modNoduleInfo/
/TEMP_block64Data.mat
/huBlocks_1.3.6.1.4.1.14519.5.2.1.6279.6001.172573195301625265149778785969.mat
/volResizeInfo/
